// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 244, 244);
  margin-bottom: 40px;
  padding: 0 15px;
  height: 42px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  transition: ease 0.5s;
  position: sticky;
  top: 0;
  h1 {
    font-weight: lighter;
    font-size: 25px;
    opacity: 0.7;
  }
  a {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    border-bottom: 1px solid rgba(108, 169, 216,0.6);
  }
}

.container {
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
  }
}

a {
  color: black;
  transition: ease 0.5s;
  &:hover {
    color: rgb(108, 169, 216);
  }
}

.article {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-bottom: 10px ;
  padding: 10px 5px;
  width: 70%;
  transition: ease 1s;
  h1 {
    margin: 0;
  }
  a:hover {
    color: white;
  }
  &:hover {
    background-color: rgba(108, 169, 216,0.6);
  }
}

.article-container {
  width: 80%;
}

.title-container {
  display: flex;
  align-items: center;
  h1 {
    margin: 10px 0;
  }
}


.article-control {
  margin-left: 20px;
  width: 40px;
  display: flex;
  p {
    margin: 0 5px;
  }
}

.back {
  margin-top: 40px;
}
.btn {
  background-color: rgb(244,244,244);
  padding: 10px 30px;
  border: 1px solid rgb(200,200,200);
  border-radius: 4px;
  transition: ease 0.5s;
  &:hover {
    color: white;
    background-color: rgb(180,180,180);
  }
}

.form-container {
  width: 80%;
}

input {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  color: rgb(44,44,44);
  &:focus {
    outline: none;
  }
  &[type=text] {
   font-size: 30px;
   margin-bottom: 10px;
   width: 100%;
  }
  &[type=submit] {
    padding: 10px 30px;
    background-color: rgba(108, 169, 216,0.6);
    color: white;
    font-size: 20px;
    &:hover {
      background-color: rgba(108, 169, 216,0.8);
    }
  }
}

textarea {
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  color: rgb(44,44,44);
  height: 700px;
  font: inherit;
}

